<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CSS External Style</title>
    <style>
    body{
        margin:0px;
        padding:0;
        background-color: rgb(13, 214, 228);

    }
    p{
        font-family: arial;
        font-size: 30px;
        font-weight: 700;
        text-align: center;
        text-decoration: underline;
        text-transform: capitalize;
        text-shadow: 1px 1px 10px red;
        color:beige;
        
    }
    </style>
</head>
<body>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Enim debitis porro ut laboriosam animi consectetur dolore? Veniam similique nemo aut animi possimus? Voluptatibus nobis unde sit optio consequatur reprehenderit dignissimos.</p>
    <img src="https://images.unsplash.com/photo-1506744038136-46273834b3fb?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mnx8bmF0dXJlfGVufDB8fDB8fHww&auto=format&fit=crop&w=500&q=60" alt="Nature Image" width="600px" height="400px" style="display: block; margin: auto; box-shadow: 5px 5px 15px rgb(159, 14, 14);">
    
</body>
</html>